@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

.averia-libre {
  font-family: "Averia Libre";
}

.gabarito {
  font-family: "Gabarito";
}

.josefin-sans {
  font-family: "Josefin Sans";
}

.jost {
  font-family: "Jost";
}
